.navbar {
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: lightslategrey;
}

.navbarAuth {
    display: flex;
    flex-direction: row;
}

.navbarProfile {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}